#parent{position: relative;}
.black{background: black;width: 610px;height: 310px ;}
#parent img{position: absolute;width: 600px;height: 300px;top: 10;left: 30px;}
.sao{filter: drop-shadow(10px 10px 5px);}
.haikyu{width: 1000px;height: 500px;filter: drop-shadow(10px 10px 5px)}
